<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="hero-unit hero-2 animated fadeIn">
  <div class="container hero-content">
        <h1>Contact Us</h1>
        <h2>Answers to all your CRISIS related questions</h2>
  </div>
</div>



<div class="container">

<% flash.each do |key, value| %>
  <% alert_class = case key
                   when :notice then "success"
                   when :error then "danger"
                   else key
                   end %>
  <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  <% end %>
<% end %>


</div>

<div class="container">
  <h3 data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="mt-3">Some common questions for you first...</h3>
   
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            I can't find my ticket
            </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
            <ol>
            <li>If you haven’t already done so check your junk email folder.</li>
            <li>If you still can’t find them log into your <a href="http://www.fixr.com">fixr</a> account, go into the ticket section and check there. Alternatively, please use the <a href="https://fixr-app.com/download"> fixr app</a>.</li>
            <li>If there’s still no sign of any tickets but money has left your account, please contact fix directly.</li>
            </ol>
            </div>
          </div>
        </div>
      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              I've lost my stuff and/or dignity
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            Sorry to hear that. You need to head to our <%= link_to 'lost-property', lostproperty_url, :class => "links"  %> page. Self respect is unlikely to be found.
          </div>
        </div>
      </div>
      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              I have lost my ID but am planning on coming. Will you let me in?
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            It happens. Sadly, we can't help here. It is entirely at the discretion of which security member you get on the night as you go through the door. Be nice, tell the truth and you are usually ok. But it is entirely up to them.
          </div>
        </div>
      </div>
      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="card">
        <div class="card-header" role="tab" id="headingFour">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              My squad is not from Notts Uni
            </a>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="card-block">
            We can't all be perfect. Not to worry, we generally accept any University student card. We also allow non-students when accompanied by a UoN carded student. However, security still reserve the right to refuse entry to anyone they deem too intoxicated or may potentially cause trouble.
          </div>
        </div>
      </div>
      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="card">
        <div class="card-header" role="tab" id="headingFive">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Ive bought a ticket from someone else. Will it work?
            </a>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="card-block">
            No guarantees. Any tickets bought through resellers is done at the purchasers own risk.
          </div>
        </div>
      </div>
      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Can I pay on the door?
            </a>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="card-block">
            Yes - Every week. It's usually £6 before 11:30pm and £7 after. You can keep up to date on our paying queue length on our snapchat (wearecrisis) or <a href="https://www.twitter.com/ilove_crisis">twitter</a> feed.
          </div>
        </div>
      </div>
      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="card">
        <div class="card-header" role="tab" id="headingSeven">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Do you take card?
            </a>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="card-block">
            Yes. Both on entry and at the bars. There is also a cash machine inside if you are feeling old school.
          </div>
        </div>
      </div>

  </div>

</div>

<div class="light-grey-band mt-3">
  <div class="container animated fadeIn">
    <div class="row contact-section">
      <div class="col-md-6">
        <h3 data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="red">Venue Address</h3>
        
        <address data-scroll="toggle(.fromLeftIn, .fromLeftOut) once">
          Rock City<br>
          8, Talbot St,<br>
          Nottingham<br>
          NG1 5GG<br>
        </address>
        
        <h3 data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="red">Opening Hours</h3>
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut) once">Wednesdays: 8pm - 3am <small>(times vary by event see the <%= link_to 'ticket page', tickets_url, :class => 'remove-deco' %> for more info)</small></p>
        
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut) once">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-phone fa-stack-1x"></i>
        </span> 0330 332 0611 <small class="text-muted">This number has <strong>no access</strong> to lost property</small>
        </p>

        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut) once">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
        </span> 07969 955 639 <small class="text-muted">9am - 5pm only | no access to lost property</small>
        </p>

        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut) once">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
        </span> info@carpenoctum.co.uk <small class="text-muted">General Enquiries</small>
        </p>
        
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut) once">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-question fa-stack-1x" aria-hidden="true"></i>
        </span> <%= link_to 'Lost your shit?', lostproperty_url, :class => "links" %>
        </p>

        <h3 data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="red">Our Office in Lenton</h3>
        
        <address data-scroll="toggle(.fromLeftIn, .fromLeftOut) once">
          Carpe Noctum<br>
          Unit T-11, Lenton Business Centre,<br>
          Lenton Boulevard,<br>
          Nottingham<br>
          NG7 2BY<br>
        </address>

    </div>

   
     
   


    <div class="col-md-6">
    <h3 data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="red">Contact Us</h3>

    <%= simple_form_for @message, :html => {:class => 'form-horizontal' } do |f| %>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) once" class="form-group">
        <%= f.input :name, :required => true, placeholder: "Enter name", :input_html => { :class => 'form-control' } %>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) once" class="form-group">
      <%= f.input :email, :required => true, placeholder: "Enter email", :input_html => { :class => 'form-control' } %>
      <small class="text-muted">We never share your email with anyone else</small>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) once" class="form-group">
      <%= f.input :mobile, :required => true, placeholder: "Enter your mobile number", :input_html => { :class => 'form-control' } %>
      <small class="text-muted">We never share your mobile with anyone else.</small>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) once" class="form-group">
      <%= f.input :message, :as => :text, :required => true, placeholder: "Enter your message. Please do not use for lost property.", :input_html => { :class => 'form-control' } %>
      </div>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) once" class="form-group">
        </br>
        <%= f.button :submit, 'SEND MESSAGE', :class=> "btn btn-primary" %>
      </div>
    <% end %>
      
     
        <div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="social-icons my-5">
        <a href="https://www.facebook.com/ilovecrisis"><i class="fa fa-facebook-official fa-fw fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/wearecrisis"><i class="fa fa-instagram fa-fw fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.twitter.com/ilove_crisis"><i class="fa fa-twitter-square fa-fw fa-3x" aria-hidden="true"></i></a>
        
        </div>
      
      </div>
    </div>
  </div>
</div>
<div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" id="map">
  
</div>
<div class="container spacer">
<h2 data-scroll="toggle(.fromTopIn, .fromTopOut) once">The Team</h2>
  <div class="row spacer">
      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) offset(0,-200px) once" class="col-md-3 text-center profile">
      <%= image_tag("jlt.jpg", :alt => "Jamie Louise Turner", :class => "rounded-circle") %>
        
          <p class="lead">Jamie Louise Turner</p>
          <p>Events Coordinator</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
          </span> 07969 955 639</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
          </span> <a class="links" href="mailto:jamie.turner@carpenoctum.co.uk">jamie.turner@carpenoctum.co.uk</a></p>
      </div>

      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) offset(0,-200px) once" class="col-md-3 text-center profile">
        <%= image_tag("bobby.jpg", :alt => "Bobby Marsh", :class => "rounded-circle") %>
          <p class="lead">Bobby Marsh</p>
          <p>Social Media Team</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
          </span> 07944 201 655</p>
          <p><span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
          </span> <a class="links" href="mailto:bobby.marsh@carpenoctum.co.uk">bobby.marsh@carpenoctum.co.uk</a></p>
      </div>

      
      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) offset(0,-200px) once" class="col-md-3 text-center profile">
        <%= image_tag("heather.jpg", :alt => "Heather Hobbs", :class => "rounded-circle") %>
          <p class="lead">Heather Hobbs</p>
          <p>Social Media Team</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
          </span> 07804 371 744</p>
          <p><span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
          </span> <a class="links" href="mailto:heather.hobbs@carpenoctum.co.uk">heather.hobbs@carpenoctum.co.uk</a></p>
      </div>

      <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) offset(0,-200px) once" class="col-md-3 text-center profile">
        <%= image_tag("bg.jpg", :alt => "Becky Greenwell", :class => "rounded-circle") %>
          <p class="lead">Becky Greenwell</p>
          <p>Social Media Team</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
          </span> 07791 100 058</p>
          <p><span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
          </span> <a class="links" href="mailto:becky.greenwell@carpenoctum.co.uk">becky.greenwell@carpenoctum.co.uk</a></p>
      </div>
  </div>
</div>




<script type="text/javascript">
  function initMap() {
          var crisis = {lat: 52.956056, lng: -1.154179};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: crisis,
            scrollwheel:  false
          });
          var marker = new google.maps.Marker({
            position: crisis,
            map: map
          });
        }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3XDYnurNyQcl1fhyiZNN1RwZN8r3FPm8&callback=initMap">
    </script>





