<footer class="footer-distributed">
  <div class="footer-left">
    <p><%= image_tag("crisis-logo.svg", :alt => "CRISIS Logo", :class => "navbar-brand footer-brand") %></p>
   
    <p class="footer-links">

      <%= link_to 'Home', root_url %>
      ·
      <%= link_to 'About', about_url %>
      ·
      <%= link_to 'News', posts_url %>
      ·
      <%= link_to 'Tickets', tickets_url %>
      
    
    </p>
    <p class="footer-company-name"><a href="http://www.carpenoctum.co.uk">Carpe Noctum Ltd</a> &copy; 2010</p>
  
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>CRISIS, 8 Talbot Street</span> Nottingham</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>0330 332 0611</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:info@carpenoctum.co.uk">info@carpenoctum.co.uk</a></p>
    </div>

  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      CRISIS &#174; is a Carpe Noctum brand. Welcome to the UK's Biggest Weekly Student night in Nottingham.
    </p>
    <div class="footer-icons">
      <a href="https://facebook.com/ilovecrisis"><i class="fa fa-facebook"></i></a>
      <a href="https:/twitter.com/ilove_crisis"><i class="fa fa-twitter"></i></a>
      <a href="https://plus.google.com/+crisisnottingham"><i class="fa fa-google-plus"></i></a>
      <a href="https://instagram.com/crisisnottingham"><i class="fa fa-instagram"></i></a>

    </div>

  </div>

</footer>