
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerCRISIS" aria-controls="navbarTogglerCRISIS" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= image_tag("white_crisis_logo.svg", :alt => "CRISIS Logo", :class => "navbar-brand hidden-md-down") %>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerCRISIS">
    
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Home', root_url, :class =>'nav-link hvr-underline-reveal' %>
      </li>
     
      <li class="nav-item">
        <%= link_to 'About', about_url, :class =>'nav-link hvr-underline-reveal' %>
      </li>
      <li class="nav-item">
        <%= link_to 'News', posts_url, :class =>'nav-link hvr-underline-reveal' %>
      </li>
      
      <li class="nav-item">
        <%= link_to 'Tickets', tickets_url, :class =>'nav-link hvr-underline-reveal' %>
      </li>
      
      <li class="nav-item">
        <%= link_to 'Socials', socials_url, :class =>'nav-link hvr-underline-reveal' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Jobs', jobs_url, :class =>'nav-link hvr-underline-reveal' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Lost Property', lostproperty_url, :class =>'nav-link pull-xs-right hvr-underline-reveal' %>
      </li>
      <li class="nav-item">
        <a href="https://carpenoctum.zendesk.com/hc/en-us" class="nav-link pull-xs-right hvr-underline-reveal">Help</a>
       
      </li>
      <li class="nav-item">
        <%= link_to 'Contact Us', contact_us_path, :class =>'nav-link pull-xs-right hvr-underline-reveal' %>
      </li>
    </ul>
   
  </div>
</nav>

