<%= render 'partials/event-carousel' %>

<div class="container">

<div class="card-deck">
<% @tickets.each do |ticket| %>
  <div class="card text-center">
    <%= image_tag ticket.square_image_url(:thumb),:alt => "CRISIS Event", :class => "card-img-top img-fluid" if ticket.square_image? %>
    
    <div class="card-block">
      <h4 class="card-title"><%= ticket.theme %></h4>
      <h5><%= ticket.date.to_formatted_s(:rfc822) %></h5>
      <p class="card-text"><%= ticket.description %></p>
      <%= link_to 'Buy Tickets', ticket, :class =>'btn btn-primary text-uppercase' %>
    </div>
  </div>
  <% end %>
</div>

</div>
















