<%= render 'partials/event-carousel' %>

<div class="container">

<div class="card-deck">
<% @tickets.each_with_index do |ticket, i| %>

  <% if i % 4 == 0 %> 
    </div>
    <div class="card-deck">
  <% end %>

<div class="col-xs-12 col-sm-6 col-lg-3">
  <div class="card text-center">
    <%= image_tag ticket.square_image_url(:thumb),:alt => "CRISIS Event", :class => "card-img-top img-fluid" if ticket.square_image? %>
    
    <div class="card-block">
      <h4 class="card-title"><%= ticket.theme %></h4>
      <h5><%= ticket.date.to_formatted_s(:rfc822) %></h5>
      <p class="card-text"><%= ticket.description %></p>
      <%= link_to 'Buy Tickets', ticket, :class =>'btn btn-primary text-uppercase' %>
    </div>
    
  </div>
</div>
  <% end %>
</div>

</div>
















