<%= render 'partials/event-carousel' %>

<div class="container">
 
 <div class="text-center ticket-notice py-2"><p class="lead mb-0">Tickets for term II released Sunday 7th January at 4pm.</p>
 300 second release tickets on sale every Thursday at 4pm.</div>
  
<div class="card-deck">
<% @tickets.each_with_index do |ticket, i| %>

  <% if i % 4 == 0 %> 
    </div>
    <div class="card-deck mt-2">
  <% end %>

<div class="col-xs-12 col-sm-6 col-lg-3">
  <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) offset(0,-200px) once" class="mt-2 card equal-height text-center">
    <%= image_tag ticket.square_image_url(:thumb),:alt => "CRISIS Event", :class => "card-img-top img-fluid" if ticket.square_image? %>
    
    <div class="card-block">
      <h4 class="card-title"><%= ticket.theme %></h4>
      <h5 class="mb-0"><%= ticket.date.to_formatted_s(:rfc822) %></h5>
      <small class="card-text red">Doors open: <%= ticket.opening_time.to_formatted_s(:time) %></small>
      <p class="card-text mt-1"><%= ticket.description %></p>
      
      <%= link_to 'Buy Tickets', ticket, :class =>'btn btn-primary text-uppercase' %>
    </div>
    
  </div>
</div>
  <% end %>
</div>

</div>
















