<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="cover-img">
  <div class="container hero-content">
    <img class="square-img" src="<%=@ticket.square_image %>">
    

    <h2 class="d-inline white"><%= @ticket.theme %> | <span class="red"><%= @ticket.date.to_formatted_s(:rfc822) %></span></h2>
    
  </div>
</div>
<div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="container">



<iframe src="https://fixr-app.com/event/<%= @ticket.fixr %>?compact=true"
        class="fixr">
</iframe>
<div><small>All ticket purchases are subject to our <%= link_to 'Terms and Conditions', termsandconditions_path %> and <%= link_to 'privacy policy', privacy_path %></small></div>
<%= link_to 'Back', tickets_path %>
</div>



