<div class="cover-img">
  <div class="container hero-content">
    <img class="square-img" src="<%=@ticket.square_image %>">
    

    <h2 class="d-inline white"><%= @ticket.theme %> | <span class="red"><%= @ticket.date.to_formatted_s(:rfc822) %></span></h2>
    
  </div>
</div>
<div class="container">

<iframe src="https://fixr-app.com/event/<%= @ticket.fixr %>?compact=true"
        class="fixr">
</iframe>

<%= link_to 'Back', tickets_path %>
</div>



