<div data-scroll="toggle(.fromTopIn, .fromTopOut) once" class="cover-img">
  <div class="container hero-content">
    <div class="row align-items-center">
    <div class="col-4 col-md-3">
    <img class="img-fluid" src="<%=@ticket.square_image %>">
    </div>
    <div class="col-8 col-md-9">

    <h2 class="white show-title"><%= @ticket.theme %> | <span class="red"><%= @ticket.date.to_formatted_s(:rfc822) %></span></h2>
    <p class="text-uppercase release-info mb-0">Tickets released: <span class="px-1 red-background"><%= @ticket.ticket_release_date.to_formatted_s(:rfc822) %></span> <small>at</small> <span class="px-1 white-background red bold"><%= @ticket.ticket_release_time.strftime("%H:%M") %></span></p>
    </div>

    </div>
  </div>
</div>
<div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="container">



<iframe src="https://fixr-app.com/event/<%= @ticket.fixr %>?compact=true&dark=true"
        class="fixr">
</iframe>
<div><small>All ticket purchases are subject to our <%= link_to 'Terms and Conditions', termsandconditions_path %> and <%= link_to 'privacy policy', privacy_path %></small></div>
<%= link_to 'Back', tickets_path %>
</div>



